@import 'styles/breakpoints.scss';

.navContainer {
  width: 100%;
  padding: 20px 0;

  background-color: var(--secondary-color);

  display: flex;
  justify-content: center;
  align-items: center;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 100px;

    position: relative;

    .navLinks {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 30px;

      @include media('>=laptop') {
        flex-direction: row;
        justify-content: flex-end;
        gap: 25px;
      }

      li {
        padding: 20px 40px;

        @include media('>=laptop') {
          padding: 0;
        }
      }

      a {
        padding: 20px 40px;
        transition: color 0.4s;

        @include media('>=laptop') {
          cursor: pointer;

          &:hover {
            color: var(--main-color);
          }
        }
      }
    }

    .menu {
      width: 100%;
      height: 100%;

      padding: 50px 0;
      background-color: var(--secondary-color);

      position: fixed;
      top: 75px;
      right: -100%;

      transition: right 0.4s;

      @include media('>=laptop') {
        position: initial;
        padding: 0;
      }
    }

    .showMenu {
      right: 0;
    }

    .navButton {
      @include media('>=laptop'){
        display: none;
      }

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}